<head>
    <title>{{ seo.title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ seo.description }}">
    <link rel="canonical" href="{{ seo.canonical }}">
    <meta property="og:title" content="{{ seo.ogTitle }}">
    <meta property="og:description" content="{{ seo.ogDescription }}">
    <meta property="og:url" content="{{ seo.ogUrl }}">
    {% block stylesheet %}
            <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
     {% endblock %}
</head>

<body>

    {# MENU #}
    {% include 'partials/_menu.html.twig' %}

    {# PAGE CONTENT #}
    {% block body %}
    {% endblock %}

    {# FOOTER #}
    {% include 'partials/_footer.html.twig' %}

</body>


